body {
  background-color: #eeeff3;
  display: block;
  width: 100%;
  float: left;
  position: relative;
  -webkit-overflow-scrolling: touch;
  font-family: "Rubik", sans-serif;

  background-image: url(../images/bg.jpg?v=7);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
}
.hf {
  float: left;
  width: 100%;
}
.ns {
  width: 1200px;
  margin: 0 auto;
}
a:hover {
  color: inherit;
  text-decoration: none;
}

/* scroller */
i.shout-icon:before {
  content: url(../images/shout-icon.png);
}
.scroller .ns {
  position: relative;
}
.scroller i.shout-icon {
  position: absolute;
  left: 0;
  top: 7px;
}
.banner-container {
  position: relative;
}
.scroller {
  background: #061222;
  color: #fff;
  font-size: 13px;
  height: 34px;
  position: relative;
  bottom: 1px;
}
.scroller marquee {
  width: 100%;
  float: left;
  margin-left: 30px;
  position: relative;
  top: 7px;
}

/* slick */
.slick-slide img {
  width: 100%;
}
.slick-slider,
.slick-dotted.slick-slider {
  margin-bottom: -6px;
}
.slick-next {
  right: 30px;
}
.slick-next {
  right: 30px;
}
.slick-prev {
  left: 30px;
  z-index: 1;
}
.slick-dots {
  bottom: 15px;
}
/* slick end */

.swal2-popup .swal2-styled.swal2-confirm {
  background-color: #ec2d2d;
}
.swal2-show {
  background-color: #1a1e21;
}
.swal2-popup .swal2-title,
.swal2-popup .swal2-content {
  color: #fff;
}

/* ie */
.ie {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-family: arial;
}
.ie button {
  background: #1a73e8;
  color: #fff;
  font-size: 20px;
  border: none;
  padding: 10px 0;
  border-radius: 3px;
  cursor: pointer;
  width: 240px;
}
.ie img {
  display: block;
  margin: 10px auto;
}
.ie .center {
  height: 130px;
  float: left;
  width: 260px;
  left: 50%;
  top: 50%;
  position: relative;
  margin-top: -65px;
  margin-left: -130px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .ie {
    display: none;
  }
}
/* ie end */

.containerX {
  width: 896px;
}
.logo-cont img {
  width: 30%;
  max-width: 335px;
  margin-top: 10px;
  transition: 0.2s;
}
.logo-cont img:hover {
  filter: brightness(1.3);
}
.title-cont img {
  width: 60%;
  margin-bottom: 45px;
}
.rewards-cont {
  z-index: 1;
  width: 82%;
  top: 1.2%;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  gap: 1%;
}
.rewards-cont img {
  width: 54px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}
.w-35 {
  width: 35%;
}
.slot-machine-cont {
  margin-top: 0.5%;
}
.bg-extension {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 78%;
  max-width: 701px;
  pointer-events: none;
}
.bg-extension-left {
  width: 100%;
  left: -45%;
  max-width: 573px;
}
.bg-extension-right {
  width: 100%;
  right: -52%;
  max-width: 632px;
  /* transform: scaleX(-1); */
}
.content {
  max-height: 1180px;
  overflow: hidden;
}
.buttons-cont {
  z-index: 1;
  top: 63.5%;
  gap: 10px;
}
.buttons-cont button {
  background: none;
  border: none;
  transition: 0.2s;
  position: relative;
}
.buttons-cont button.play-btn:hover {
  filter: brightness(1.1);
}
.buttons-cont button label {
  position: absolute;
  left: 0;
  width: 100%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  color: #000;
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  cursor: pointer;
}
.buttons-cont button.play-btn label {
  height: 87%;
  font-size: 32px;
  font-weight: 700;
  top: 0;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
  color: #fff;
}
.slots-machine-cont {
  z-index: 1;
  top: 29.31%;
  width: 85%;
  height: 233px;
}
.changes-left-cont {
  color: #fff;
  border: 2px solid #ec2d2d;
  display: flex;
  flex-direction: column;
  line-height: 1;
  gap: 3px;
  padding: 10px 8px;
  font-size: 14px;
  border-radius: 12px;
  width: fit-content;
  margin: 0 auto;
  position: absolute;
  top: 0px;
  /* background: #b10000; */
  /* border: 3px solid #307b00; */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  left: 0;
  padding: 25px 0;
  box-shadow: 0 0 6px 3px #ffffffbf;
  position: relative;
}
.changes-left-cont span {
  font-size: 28px;
  font-weight: 600;
  display: block;
}
.w-15 {
  width: 15%;
}
.btn-close {
  position: absolute;
  top: 15px;
  filter: invert(100%);
  right: 68px;
  top: -9px;
  border-radius: 50%;
  border: 1px solid #000;
  padding: 5px;
  font-size: 10px;
}
.loginForm input,
.loginForm button {
  color: #fff;
  border: none;
  border-radius: 10px;
  height: 42px;
  text-align: center;
  width: 60%;
  font-size: 15px;
  padding: 0;
}
.loginForm input {
  background-color: #ff8003;
  color: #fff;
}
.loginForm button {
  background-color: #000;
  transition: 0.1s;
}
.loginForm button:hover {
  filter: brightness(1.2);
}
.loginForm img {
  width: 50%;
  display: block;
  margin-bottom: -8px;
  display: none;
}
.loginForm {
  width: 81%;
  gap: 12px;
  margin: 0px auto;
  margin-top: 1%;
  padding-top: 0px;
}
.loginForm input::placeholder {
  color: #ffffff75;
}
#loginModal .modal-content {
  background: url(../images/LOGIN-POPUP.png?v=11);
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  background-position: center;
  height: 211px;
  width: 520px;
}
#loginModal .modal-dialog {
  width: auto;
  margin: 15% auto;
}
#mechanicsModal .modal-content {
  background: url(../images/GM-POPUP.png?v=11);
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  background-position: center;
  height: 500px;
  width: 1050px;
  margin: 0 auto;
  padding: 3.5% 16% 0;
}
#mechanicsModal .modal-dialog {
  max-width: 1050px;
  margin: 10% auto;
}
.mechForm img {
  width: 50%;
  display: none;
}
.mechForm {
  color: #fff;
  font-size: 12px;
  width: 100%;
  padding: 0;
  height: auto;
  overflow: auto;
  margin: 2px 0;
  /* text-shadow: 0px 2px 6px #000; */
  height: 90%;
}
#mechanicsModal .btn-close {
  right: 54px;
  top: -9px;
  border-radius: 50%;
  border: 1px solid #000;
  padding: 5px;
  font-size: 10px;
}
body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-track {
  background: #191919;
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #191919, #b70303);
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
.slot-strip-cont {
  width: 522px;
  margin-left: -5px;
}
.slot-strip {
  width: 160px;
  height: 205px;
  background-image: url(../images/slot-strip.png?v=12);
  background-position-x: center;
  transition: 6s ease-in;
  background-repeat: repeat-y;
}
.slot-strip.position-1 {
  background-position-y: 20px;
}
.slot-strip.position-2 {
  background-position-y: -100px;
}
.slot-strip.position-3 {
  background-position-y: -215px;
}
.slot-strip.position-4 {
  background-position-y: -340px;
}
.slot-strip.position-5 {
  background-position-y: -455px;
}
.slot-strip.position-6 {
  background-position-y: -575px;
}
.slot-strip.position-7 {
  background-position-y: -696px;
}
.slot-strip.position-8 {
  background-position-y: -818px;
}
.slot-strip.position-9 {
  background-position-y: -942px;
}
.spin .slot-strip.spin-down {
  background-position-y: 6390px;
}
.spin .slot-strip.spin-up {
  background-position-y: -6090px;
}
.result-1 div,
.result-2 div,
.result-3 div,
.result-4 div,
.result-5 div,
.result-6 div,
.result-7 div,
.result-8 div,
.result-9 div {
  transition: 2s ease-out;
}
/* result-1 */
.result-1 div.slot-strip:nth-child(1) {
  background-position-y: 8226px;
}
.result-1 div.slot-strip:nth-child(2) {
  background-position-y: -6452px;
}
.result-1 div.slot-strip:nth-child(3) {
  background-position-y: 8226px;
}
/* result-2 */
.result-2 div.slot-strip:nth-child(1) {
  background-position-y: 7243px;
}
.result-2 div.slot-strip:nth-child(2) {
  background-position-y: -7439px;
}
.result-2 div.slot-strip:nth-child(3) {
  background-position-y: 7243px;
}
/* result-3 */
.result-3 div.slot-strip:nth-child(1) {
  background-position-y: 7008px;
}
.result-3 div.slot-strip:nth-child(2) {
  background-position-y: -6939px;
}
.result-3 div.slot-strip:nth-child(3) {
  background-position-y: 7008px;
}
/* result-4 */
.result-4 div.slot-strip:nth-child(1) {
  background-position-y: 7378px;
}
.result-4 div.slot-strip:nth-child(2) {
  background-position-y: -8051px;
}
.result-4 div.slot-strip:nth-child(3) {
  background-position-y: 7367px;
}
/* result-5 */
.result-5 div.slot-strip:nth-child(1) {
  background-position-y: 6888px;
}
.result-5 div.slot-strip:nth-child(2) {
  background-position-y: -7059px;
}
.result-5 div.slot-strip:nth-child(3) {
  background-position-y: 6888px;
}
/* result-6 */
.result-6 div.slot-strip:nth-child(1) {
  background-position-y: 7119px;
}
.result-6 div.slot-strip:nth-child(2) {
  background-position-y: -7559px;
}
.result-6 div.slot-strip:nth-child(3) {
  background-position-y: 7119px;
}

.notransition {
  transition: none !important;
}

#prizeModal img {
  width: 370px;
}
#prizeModal .modal-content {
  background: none;
  border: none;
}
#prizeModal .modal-dialog {
  margin: 12% auto;
  width: fit-content;
}
.logout-btn {
  display: flex;
  /* display: none; */
}
.logout-btn span {
  color: #ec2d2d;
  border-bottom: 1px solid;
  line-height: 1;
  margin-top: 0;
  font-weight: 500;
  font-size: 13px;
  text-shadow: 1px 1px 0px white;
}
.showPrize {
  display: none;
}
.showPrize.show {
  display: block;
}

.euroImg-right {
  display: block;
}
.changes-left-cont {
  display: block;
}
.buttons-cont button.logout-btn label {
  max-width: 61%;
  overflow: hidden;
  margin-right: 4px;
  justify-content: start;
  width: auto;
}
#mechanicsModal .modal-body {
  width: fit-content;
}
#prizeModal .modal-body {
  padding: 0;
}
.mechForm p {
  margin: 0 0 10px;
}
.mechForm ol {
  margin-bottom: 3px;
}
.mechForm a {
  color: #fde56b;
}
.slotmaching_bg {
  width: auto;
  top: -36px;
  z-index: -1;
}
.reward_cont {
  background-repeat: no-repeat;
  width: 119px;
  text-align: left !important;
  height: 58px;
  align-items: center;
  display: flex !important;
  justify-content: center;
  flex-direction: column;
  background-image: none !important;
  align-items: start;
}
#prizeModal .btn-close {
  right: 0;
}

@media only screen and (max-width: 897px) {
  .content {
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    align-items: center;
  }
  .logo-cont img {
    width: 45%;
    margin-top: 30px;
  }
  .title-cont img {
    margin-bottom: 55px;
    width: 90%;
  }
  .slot-machine-cont {
    margin-top: -2%;
  }
  .rewards-cont {
    width: 90% !important;
    gap: 0;
    /* overflow: scroll; */
    font-size: 8px;
    top: -6%;
  }
  .rewards-cont .w-50 {
    justify-content: center;
  }
  .btn-close {
    right: 7px;
  }
  .rewards-cont_2nd {
    width: 56% !important;
  }
  .rewards-cont img {
    width: 25px;
    margin-bottom: 0;
  }
  .slot-strip-cont {
    margin-left: 0%;
    width: 532px;
  }
  /* .changes-left-cont {
        font-size: 1.8vw;
        line-height: 1.3;
        padding: 7px 3px 2px;
        gap: 0;
    }
    .changes-left-cont span {
        font-size: 5.3vw;
    } */
  .slots-machine-cont {
    transform: scale(0.43);
    top: 1.9%;
    /* left: -42%; */
    gap: 11px;
    width: auto;
  }
  .containerX {
    width: 375px;
    margin-top: -53%;
    margin-bottom: 90px;
  }
  .buttons-cont {
    top: 55.5%;
    width: 240px;
    justify-content: center;
    gap: 0;
  }
  .play-btn {
    padding: 0;
  }
  .play-btn img {
    width: 90px;
  }
  .buttons-cont button label {
    font-size: 12px;
  }
  .buttons-cont button.play-btn label {
    font-size: 12px;
    padding-top: 2px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 0px 0 #000,
      1px 1px 0 #000;
  }
  .right-btns img {
    width: 140px;
  }
  .logout-btn span {
    font-size: 11px;
    margin-top: 0;
  }
  .bg-extension {
    position: fixed;
    z-index: 1;
    width: 74%;
    pointer-events: none;
  }
  .bg-extension-left {
    left: 0;
    width: 63%;
  }
  .bg-extension-right {
    right: -23%;
    width: 63%;
  }
  #loginModal .modal-content {
    width: 374px;
    margin: 0 auto;
  }
  .changes-left-cont {
    font-size: 13px;
    left: -7px;
    top: -27px;
  }
  .changes-left-cont span {
    font-size: 32px;
  }
  .w-15 {
    width: 107px;
  }
  #mechanicsModal .modal-content {
    background-image: none;
    height: 490px;
    width: 370px;
    margin: 24% auto;
    background-color: #99230d;
    border: 3px solid #fcca58;
    border-radius: 20px;
    padding: 2% 3%;
  }
  .mechForm {
    padding: 4% 2%;
    height: 99%;
    overflow: auto;
    color: #fff;
  }
  .mechForm a {
    color: #fcca58;
  }
  .mechForm img {
    width: 70%;
    margin-bottom: 5px;
  }
  .logout-btn div {
    gap: 0 !important;
    width: 117px !important;
  }
  .rewards-cont .d-flex .d-flex {
    justify-content: space-around !important;
    gap: 0;
  }
  .right-btns button {
    padding: 0;
  }
  #mechanicsModal .modal-body {
    padding: 0 16px;
    height: 100%;
  }
  #loginModal .modal-dialog {
    margin: 56% auto;
  }
  #mechanicsModal .btn-close {
    right: -3px;
    top: -40px;
  }
  #prizeModal .modal-dialog {
    margin: 40% auto;
  }
  .loginForm {
    gap: 10px;
    width: 80%;
  }
  .slotmaching_bg {
    width: 377px;
  }
  .logo-cont {
    margin-top: 200px;
  }
  .reward_cont {
    width: 61px;
    height: auto;
    background: none;
    padding: 0 3px;
  }
  .loginForm img {
    display: none;
  }
  .loginForm {
    padding-left: 0;
  }
  .loginForm input,
  .loginForm button {
    width: 90%;
  }
}
