body{
    background-color: #eeeff3;
    display: block;
    width: 100%;
    float: left;
    position: relative;
	-webkit-overflow-scrolling: touch;
    font-family: 'Poppins', sans-serif;
}
.hf{
	float: left;
	width: 100%;
}
.ns{
	width: 1025px;
	margin: 0 auto;
}
a:hover{
    color: inherit;
    text-decoration: none;
}

/* scroller */
i.shout-icon:before{
    content: url(../img/shout-icon.png);
}
.scroller .ns{
    position: relative;
}
.scroller i.shout-icon{
    position: absolute;
    left: 0;
    top: 7px;
}
.banner-container{
    position: relative;
}
.scroller{
    background: #061222;
    color: #fff;
    font-size: 13px;
    height: 34px;
    position: relative;
    bottom: 1px;
}
.scroller marquee{
    width: 100%;
    float: left;
    margin-left: 30px;
    position: relative;
    top: 7px;
}


/* slick */
.slick-slide img{
    width: 100%;
}
.slick-slider, .slick-dotted.slick-slider{
    margin-bottom: -6px;
}
.slick-next{
    right: 30px;
}
.slick-next{
    right: 30px;
}
.slick-prev {
    left: 30px;
    z-index: 1;
}
.slick-dots{
    bottom: 15px;
}
/* slick end */

.swal2-popup .swal2-styled.swal2-confirm{
    background-color: #1ba0fe;
}


/* ie */
.ie{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background: rgba(0, 0, 0, .7);
	text-align: center;
	font-family: arial;
}
.ie button{
    background: #1a73e8;
    color: #fff;
    font-size: 20px;
    border: none;
    padding: 10px 0;
    border-radius: 3px;
    cursor: pointer;
    width: 240px;
}
.ie img{
	display: block;
    margin: 10px auto;
}
.ie .center{
	height: 130px;
    float: left;
    width: 260px;
    left: 50%;
    top: 50%;
    position: relative;
    margin-top: -65px;
    margin-left: -130px;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.ie{
		display: block;
	}		
}
/* ie end */